body{
    padding: 10px 70px 50px; 
    background: url(https://bigfoto.name/uploads/posts/2022-03/1648571197_1-bigfoto-name-p-estetichnii-korichnevii-fon-v-interere-2.jpg);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.375;
    color: #1f1f1f;
 }
 .подвал {
  /*display: flex;*/
  
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 25px;
  
  background: rgba(245, 222, 179, 0.577);
  /*justify-content: space-between;*/
  }
  
.подвал a{
  text-decoration: none;
  color:black;
  font-family: 'Marck Script';
  font-size: 30px;
  text-justify: 10px;
  margin: 20px;
  }
  
.подвал nav a:hover{
  border-bottom: 3px solid black;
  }
  
 .main-text-h{
  margin-left: 10px;
}
 .post{
    background-color: #362a1070;
    padding: 10px 20px; 
 }
 p{
  font-family: 'Marck Script';
  font-weight: 700;
  color:rgb(226, 219, 219);
  text-shadow: 1px 1px 1px #000;
  font-size: 2.3vh;
}

 h1{
    font-family: Pompadur, 'Comic Sans MS', cursive;
 }
 ul {
    list-style: none;
  }
a{
    color:aliceblue;
}  
.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}
h2{
    color:rgb(226, 219, 219);
    font-family: 'Marck Script', cursive;
    font-size: 2.3vh;
}
pre{
    font-family: 'Marck Script';
    font-weight: 1000;
    color:rgb(226, 219, 219);
    text-shadow: 1px 1px 1px #000;
    font-size: 2.3vh;
 }
 header{
    top: 0;
    display:flex;
    background: rgba(245, 222, 179, 0.577);
    max-height: 5%;
    width: 100%;
    align-items: center;
 }
 #menu__toggle, #menu__btn{display: none}

 .hamburger-menu
 {
     display:flex;
     text-align:right; 
     flex-direction: row;
     margin-left:10%;
 }
 
 .hamburger-menu ul{
     text-align: right; 
     padding: 0;      
 }
 .menu__box {
     display: flex;
     flex:end;
 }
 .menu__item{
     display: block;
     padding: 15px 15px;
     font-size: 20px;
     font-weight: 100;
     text-decoration: none;
     transition: 0.5s;
 }
 
 .menu__item:hover {
     background-color: #bc8666;
     border-radius: 5px;
 }

.gallery {
    position: relative;
  }
  .gallery__flex {
    height: 600px;
    display: flex;
  }
  /* дополнительный класс для вертикального расположения блоков с изображениями */
  .gallery__flex_column {
    flex-direction: column;
  }
  .gallery__item {
    flex: 1; /* изначальное значени для все элементов */
    transition: flex-grow 0.64s ease-in-out; /* для плавного изменения занимаемого пространства */
  
    /* если блоки изображений отображаются вертикально, им необходимо задать overflow: hidden; или min-height: 0; иначе блоки с изображениями не будут сжиматься и выйдут за границы блока галереи */
    overflow: hidden;
    min-height: 0;
  }
  .gallery__item:hover {
    flex: 10; /* при наведении меняем значение flex */
  }
  .gallery__item img {
    /* пропорционально растягиваем изображение на весь блок <div class="gallery__item"></div> */
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    /* для плавного перехода используем transition */
    transition: transform 1.6s ease-in-out;
    /* изначально изображение немного увеличено */
    transform: scale(1.1);
  }
  .gallery__item:hover img {
    transform: scale(1); /* при наведении убираем масштабирование изображения */
  }
@media(max-width: 900px) and (min-width: 600px){
  .gallery__flex {
    height: 300px;
    display: flex;
  }
}
@media(max-width: 600px){
  .gallery__flex {
    height: 200px;
    display: flex;
  }
  .gallery__item:hover {
    flex: 5; /* при наведении меняем значение flex */
  }
}

  @media (max-width: 1000px)
 {
     .d2{width: 10vw; flex-grow: 2;}
     .d4{width: 25vw;}
     .aa{width:70vw;}
     
     h2{font-size:medium;}
     .godar{opacity: 0;}
 
     nav li{
         display: block;
         width:20vw;
         margin: auto;
         margin-top: 20px;
     }
     .ssilka{
         color: black;
         background-color: white;
         font-size: 1.5vh;
         flex-wrap: nowrap;
     }
   
   /* контейнер меню */
   .menu__box {
     z-index: 50;
     display: block;
     position: fixed;
     visibility: hidden;
     top: 0;
     left: 100%;
     width: 100%;
     height: 100%;
     margin: 0;
     margin-top: 110px;
     padding: 50px 0;
     list-style: none;
     text-align: center;
     background-color: #a98b6c;
     border-color: #ffffff;
 }
 .menu__item:hover{
     background-color: #bc8666;
 }
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex; 
  align-items: center;  
  position: fixed;
  top: 20px;
  left: 90%;
  width: 26px; /*по ширине кнопки расположены три полосы span*/
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__item{
  margin-right: 10%;
}

/*составляющие кнопки меню мобилок*/
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 3px; /*ширина полос, составляющих кнопку меню мобилок-->*/
  background-color: #ffffff; /*цвет полос, составляющих кнопку меню мобилок-->*/
}

.menu__btn > span::before { /*верхняя полосочка*/
  content: '';
  top: -9px;
}
.menu__btn > span::after {/*нижняя полосочка*/
content: '';
top: 9px;
}

#menu__toggle:checked ~ .menu__btn > span { /*разворот полоски после нажатия*/
transform: rotate(45deg);
transition: 0.5s;
}
#menu__toggle:checked ~ .menu__btn > span::before { /*разворот полоски после нажатия*/
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transition: 0.5s;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box { /*кнопка меню становится видимой*/
  visibility: visible;
  transition: 0.5s;
  left: 0;
}
}
