body{
  padding: 10px 70px 50px; 
  background: url(https://bigfoto.name/uploads/posts/2022-03/1648571197_1-bigfoto-name-p-estetichnii-korichnevii-fon-v-interere-2.jpg);
}
* {
  box-sizing: border-box;
}
.main-text-h{
  margin-left: 10px;
}
.подвал {
  /*display: flex;*/
  
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 25px;
  
  background: rgba(245, 222, 179, 0.577);
  /*justify-content: space-between;*/
  }
  
.подвал a{
  text-decoration: none;
  color:black;
  font-family: 'Marck Script', cursive;
  font-size: 30px;
  text-justify: 10px;
  margin: 20px;
  }
  
.подвал nav a:hover{
  border-bottom: 3px solid black;
  }
  
  .social img{
  margin-top: 30px;
  }
  
  .social img:hover{
  /*background: #bc8666;*/
  background: black;
  }
  
#центр{
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  color: rgb(226, 219, 219);
  font-family: 'Marck Script', cursive;
  text-shadow: 1px 1px 1px #000;
}
#чтоэто{
  background-color: #362a1070;
  padding: 10px 20px; 
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.375;
  color: #1f1f1f;
}

img {
  max-width: 100%;
  height: auto;
}
p{
   font-family: 'Marck Script', cursive;
   font-weight: 700;
   color:rgb(226, 219, 219);
   text-shadow: 1px 1px 1px #000;
   font-size: 2.2vh;
}


h1{
   font-family: Pompadur, 'Comic Sans MS', cursive;
}
h2{
   color:antiquewhite;
   font-size: 3vh;
}
a{
   color:aliceblue;
}



header{
  /*position: sticky;*/
  
  top: 0;
  display:flex;
  background: rgba(245, 222, 179, 0.577);
  max-height: 5%;
  width: 100%;
}
ul {
  list-style: none;
}

.banner{  
  display:flex;
  width: 100%;
  align-items: center;
}
 /*БУРГЕР МЕНЮ*/
 
 #menu__toggle, #menu__btn{display: none}

 .hamburger-menu
 {
     display:flex;
     text-align:right; 
     flex-direction: row;
     margin-left:10%;
 }
 
 .hamburger-menu ul{
     text-align: right; 
     padding: 0;      
 }
 .menu__box {
     display: flex;
     flex:end;
     
 }
 .menu__item{
     display: block;
     padding: 15px 15px;
     font-size: 20px;
     font-weight: 100;
     text-decoration: none;
     transition: 0.5s;
 }
 
 .menu__item:hover {
     background-color: #bc8666;
     border-radius: 5px;
 }

.section {
  padding: 110px 0;
}

@media (max-width: 576px) {
  .section {
    padding: 90px 0;
  }
}

.section__title {
  font-size: 48px;
  text-align: center;
  margin: 0 auto 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.section__title--accent {
  color: #ffa650;
}

@media (max-width: 576px) {
  .section__title {
    font-size: 36px;
  }
}

.section__header {
  margin-bottom: 90px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 6em
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -35px;
}

.catalog__item {
  width: calc(100% / 3);
  margin-bottom: 90px;
  padding: 0 35px;
  position: relative;
}

.catalog__item::before {
  content: '';
  background: #f7f7f7;
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  transform: translateX(-50%);
}

.catalog__item:nth-of-type(3n + 1)::before {
  content: none;
}

@media (max-width: 1250px) {
  .catalog {
    margin: 0 -20px;
  }

  .catalog__item {
    padding-left: 20px;
    padding-right: 20px;
  }
}




/* catalog end */

/* product start */
.product {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product__img {
  display: block;
  margin: 0 auto 15px;
}

.product__title {
  margin: 0 0 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;

  color:  rgb(226, 219, 219);
}

.product__description {
  margin: 0;
  color: rgb(226, 219, 219);
}

.product__content {
  margin-bottom: 25px;
  flex-grow: 1;
}

.product__price {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 900;
  color:  rgb(226, 219, 219);
}

.product__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__btn {
  box-shadow: none;
  background: #ffa650;
  width: 200px;
  font-family: 'Marck Script', cursive;
  font-size: 1.3rem;
  padding: 14px 20px;
}

.product__btn:hover {
  background: #ff7c21;
}

/*размер не имеет значения*/
 @media (max-width: 1000px)
 {
     .d2{width: 10vw; flex-grow: 2;}
     .d4{width: 25vw;}
     .aa{width:70vw;}
     
     h3{font-size:50px;}
     h2{font-size:70px;}
     h1{font-size: 80px;}
     .godar{opacity: 0;}
     .banner{
      display:none;
    } 

    .catalog__item {
      width: 100%;
      margin-bottom: 50px;
    }
    .catalog__item:nth-of-type(n)::before {
      content: none;
    }
  
    .catalog__product {
      width: 5000px;
      max-width: 100%;
      margin: 0 auto;
      border-bottom: 2px solid #f7f7f7;
      padding-bottom: 50px;
    }
  
    .catalog__item:last-of-type {
      margin-bottom: 0;
    }
  
    .catalog__item:last-of-type .catalog__product {
      border-bottom: 0;
      padding-bottom: 0;
    }
     .ssilka{
         color: black;
         background-color: white;
         font-size: 1.5vh;
         flex-wrap: nowrap;
     }
     .product__btn {
      width: 200px;
      font-size: 2.3rem;
    }
   /* контейнер меню */
   .menu__box {
     z-index: 50;
     display: block;
     position: fixed;
     visibility: hidden;
     top: 0;
     left: 100%;
     width: 100%;
     height: 100%;
     margin: 0;
     margin-top: 110px;
     padding: 50px 0;
     list-style: none;
     text-align: center;
     background-color: #a98b6c;
     border-color: #ffffff;
 }
#menu a{
  font-size: 2vh;
}
 .menu__item:hover{
     background-color: #bc8666;
 }
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex; 
  align-items: center;  
  position: fixed;
  top: 20px;
  left: 90%;
  width: 26px; /*по ширине кнопки расположены три полосы span*/
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__item{
  margin-right: 10%;
}

/*составляющие кнопки меню мобилок*/
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after{
  display: block;
  position: absolute;
  width: 100%;
  height: 3px; /*ширина полос, составляющих кнопку меню мобилок-->*/
  background-color: #ffffff; /*цвет полос, составляющих кнопку меню мобилок-->*/
}

.menu__btn > span::before { /*верхняя полосочка*/
  content: '';
  top: -9px;
}
.menu__btn > span::after {/*нижняя полосочка*/
content: '';
top: 9px;
}
#footer a{
 font-size: 50px;
}
#menu__toggle:checked ~ .menu__btn > span { /*разворот полоски после нажатия*/
transform: rotate(45deg);
transition: 0.5s;
}
#menu__toggle:checked ~ .menu__btn > span::before { /*разворот полоски после нажатия*/
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transition: 0.5s;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box { /*кнопка меню становится видимой*/
  visibility: visible;
  transition: 0.5s;
  left: 0;
}
}